<?xml version="1.0" encoding="UTF-8" ?>
<suite name="RegressionTest" verbose="3">
    <listeners>
        <listener class-name="com.restassured.Listeners.TestListeners"/>
    </listeners>


    <test verbose="1" name="Regression Test" parallel="false">
        <classes>
<!--            <groups>-->
<!--                <run>-->
<!--                    <include name="Test1"/>-->
<!--                    <include name="Test2"/>-->
<!--                </run>-->
<!--            </groups>-->
            <class name="TestPetStore"/>
        </classes>
    </test>


</suite>